/* .navbarScroll {
  color: white;
} */
.navbarScroll.navbarDark {
  background-color: black;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.switch-change-theme {
  position: relative;
  left: 57%;
}

@media screen and (max-width: 600px) {
  .switch-change-theme {
    position: relative;
    left: 10%;
  }
}
